/*Variables*/
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$dark-background-font: #ffffff;
$light-background-font: #2c2c54;
$transition: all 1s;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: $light-background-font;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid $dark-background-font;
  background-image: linear-gradient(
    90deg,
    $dark-background-font 50%,
    transparent 50%
  );
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;
  color: $dark-background-font;
}

.btn:hover {
  background-position: 0 100%;
  color: $color-one;
}

.btn-one {
  border-color: $dark-background-font;
  color: $dark-background-font;
  background-image: linear-gradient(
    90deg,
    $dark-background-font,
    50%,
    transparent 50%
  );
}

/*Navigation*/
.navigation {
  background-color: $color-one;
  padding: 12px 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: $dark-background-font;
}

a:hover {
  color: $color-two;
}

.navigation ul ul li {
  display: block;
  margin: 0 0 12px 0;
  text-align: center;
}

.navigation li ul {
  display: none;
  position: absolute;
  background-color: $dark-background-font;
}

.navigation li:hover ul {
  display: block;
}

.navigation li ul a {
  color: $color-one;
  display: block;
  padding: 0 24px;
}

.navigation li ul a:hover {
  color: $color-two;
}

.navigation li ul {
  display: none;
  position: absolute;
  background-color: $dark-background-font;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.splash {
  background-color: $color-one;
  color: $dark-background-font;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  font-weight: 700;
  line-height: 1.2;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
}

.page-title span {
  font-family: "Signika", sans-serif;
}

/*Our services*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex: 0 0 33.333%;
  position: relative;
}

.number {
  position: absolute;
  color: $color-two;
  font-size: 144px;
  font-family: "Signika", sans-serif;
  opacity: 0.3;
  line-height: 1;
  top: 0;
  z-index: -1;
}

.bold-paragraph {
  font-weight: bold;
}

.btn-two {
  color: $color-two;
  border-color: $color-two;
  background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
}

.btn-two:hover {
  color: $dark-background-font;
}

.btn-three {
  color: $color-three;
  border-color: $color-three;
  background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
}

.btn-three:hover {
  color: $dark-background-font;
}

.btn-four {
  color: $color-one;
  border-color: $color-one;
  background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);
}

.btn-four:hover {
  color: $dark-background-font;
}

/*Our work*/
.box-work {
  flex: 0 0 50%;
  min-height: 300px;
  max-width: 100%;
  position: relative;
  margin: 10px 0 50px 0;
  padding: 0;
}

.photo {
  max-width: 250px;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
}

.photo:after {
  content: " ";
  position: absolute;
  height: 100%;
  top: 20px;
  left: 20px;
  right: -20px;
  opacity: 0.3;
  background-color: $color-two;
  transition: 1s ease-in-out;
}

.photo:hover:after {
  top: 0;
  left: 0;
  right: 0;
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-description {
  text-align: left;
  padding: 0 5% 0 60%;
}

.bold-paragraph {
  font-weight: bold;
  margin-top: 0;
}

.photo-description p {
  margin: 0;
}

.btn-five {
  display: inline-block;
  margin: 36px 0;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;
}

.btn-five:hover {
  color: $color-two;
}

/*Form*/
.contact {
  background-color: $color-one;
  color: $dark-background-font;
  padding: 96px 0;
}

.form {
  flex: 2 0 0;
  padding-right: 20px;
  width: 280px;
}

.contact-details {
  flex: 1 0 0;
}

.contact-field {
  background: inherit;
  color: inherit;
  padding: 10px;
  width: 100%;
  border: 0;
  border-bottom: 3px solid $dark-background-font;
}

.contact-field-textarea {
  max-width: 100%;
  min-width: 100%;
}

.contact-field::placeholder {
  color: $dark-background-font;
}

.contact-subtitles {
  font-size: 20px;
  margin: 0;
}

/*Footer*/
.page-footer {
  background-color: $dark-background-font;
  padding: 96px 0;
  position: relative;
}

.page-footer ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.page-footer li {
  font-size: 0;
  display: inline-block;
  transition: 0.5s ease-in-out;
}

.icon-social {
  font-size: 30px;
  background-color: $color-three;
  color: $dark-background-font;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
}

.page-footer a {
  text-decoration: none;
}

.page-footer li:hover {
  transform: scale(1.2);
}

/*Media*/

@media (max-width: 767px) {
  .page-title {
    font-size: 52px;
    word-spacing: -18px;
  }
  .wrapper {
    flex-direction: column;
  }

  .box-work {
    max-width: 100%;
    height: 150px;
    position: relative;
  }

  .contact-subtitles {
    margin-top: 40px;
  }

  .box {
    margin-bottom: 40px;
  }

  .navigation a {
    font-size: 14px;
  }

  .navigation li {
    margin: 0 16px 0 16px;
  }

  .navigation ul ul li {
    margin: 12px 0 24px 0;
  }

  .section-title {
    font-size: 38px;
    margin: 0 0 42px 0;
  }

  .btn {
    margin: 16px auto 0 auto;
  }

  .form {
    padding-right: 0;
  }
}
